<div class="card" >
  <div class="title mb-2">
    <a href="{{feedItem.url}}" target="_blank" title="{{feedItem.title}}">
      {{ feedItem.title | slice:0:60 }}
    </a>
  </div>
  <div class="text-left ">
    <span class="published-by">Published By: {{ feedItem.by }}</span>
  </div>
  <div class="text-left">
    <span class="published-on">{{ feedItem.time * 1000 | date }}</span>
  </div>

  <div class="mt-auto">
    <div class="d-flex justify-content-between align-items-center" style="min-height:40px">
      <div class="d-flex">
        <div class="d-flex">
          <i  class="material-icons" >
            thumb_up_alt
           </i>
          <span>{{ feedItem.score }}</span>
        </div>
        <div class="ml-3 d-flex"  *ngIf="feedItem.kids">
          <i class="material-icons">
            comment
          </i> &nbsp;
          <span >
            {{ feedItem?.kids.length }}</span>
        </div>
      </div>
      <div  *ngIf="feedItem.url">
        <a class=" btn c-button"  href="{{feedItem.url}}" target="_blank" title="{{feedItem.title}}">
          View Article
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="text-left">
     <i  class="material-icons" >
      thumb_up_alt
     </i>
     <span>{{ feedItem.score }}</span>
     <span>{{ feedItem.time * 1000 | date }}</span>
  </div>
  <div>
    <span *ngIf="feedItem.kids" >{{ feedItem?.kids.length }}</span>
  </div>
  <div class="btn-container" *ngIf="feedItem.url">
    <a class=" btn c-button"  href="{{feedItem.url}}" target="_blank" title="{{feedItem.title}}">
      View Article
    </a>
  </div> -->
</div>
